*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.container{
    min-width: 400px;
    max-width: 1440px;
    background-color: gray;
    margin: 0 auto;
}

header{
    background-color: darkblue;
}

a.logo{
    display: inline-block;
    width: 230px;
}

a.logo>img{
    width: 100%;
    object-fit: cover;
}

li{
    list-style-type: none;
}

a:link, a:visited{
    color: #ebebeb;
    text-decoration: none;
}

.banner{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}